<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Tasks</title>
</head>
<body>
<h1>Tasks</h1>
<ul>
    <!-- Iterates on every task in "tasks" -->
    <li th:each="task : ${tasks}">
        <p>
            <strong>Task's name:</strong>
            <span th:text="${task.taskName}">Task name</span>
        </p>
        <p>
            <strong>Description :</strong>
            <span th:text="${task.taskDescription}">Task description</span>
        </p>
        <p>
            <strong>Deadline :</strong>
            <span th:text="${#dates.format(task.deadline, 'dd/MM/yyyy HH:mm')}">Task deadline</span>
        </p>
        <p th:if="${task.taskCategory != null}">
            <strong>Category :</strong>
            <span th:text="${task.taskCategory.categoryName}">Task category</span>
        </p>
        <p th:if="${task.taskCategory == null}">
            <strong>Catégorie :</strong>
            Unspecified
        </p>

        <p th:if="${task.userAssigned != null}">
            <strong>Assigned to :</strong>
            <span th:text="${task.userAssigned.username}">User Assigned</span>
        </p>
        <p th:if="${task.userAssigned == null}">
            <strong>Assigned to :</strong>
            Unspecified
        </p>
        <hr>
    </li>
</ul>
</body>
</html>
